<xyz data-name="Markavian">Hello Streamers</xyz>
<xyz data-name="ChristopheCVB, with a H">Hello Streamers</xyz>
<xyz data-name="Wizard">Hello Streamers</xyz>
<xyz data-name="arena">Hello Streamers</xyz>
<xyz data-name="Lincxx">Hello Streamers</xyz>
<xyz data-name="dew_scntd">Hello Streamers</xyz>

<template for="xyz"> <b>{{data-name}}</b> <i>{{content}}</i> </template>
<style for="xyz">
  xyz {
    display: inline-block;
    padding: 4px 8px;
    background: #AAA;
    border-radius: 6px;
    margin-bottom: 5px;
  }
</style>
